body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Product";
  color: #3c4043;
}

@font-face {
  font-family: ProductThin;
  src: url("/assets/fonts/ProductSans-Thin.ttf");
}
@font-face {
  font-family: ProductLight;
  src: url("/assets/fonts/ProductSans-Light.ttf");
}
@font-face {
  font-family: Product;
  src: url("/assets/fonts/ProductSans-Regular.ttf");
}
@font-face {
  font-family: ProductMedium;
  src: url("/assets/fonts/ProductSans-Medium.ttf");
}
@font-face {
  font-family: ProductBold;
  src: url("/assets/fonts/ProductSans-Bold.ttf");
}

.navbar {
  /* max-width: 1440px; */
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: "Product";
  font-size: 0.92rem;
  max-height: 100px;
  box-shadow: 0px 2px 12px #dadada;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 999;
}

.navlinks {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 15px;
  padding-bottom: 10px;
  gap: 15px;
}

.navlinks a {
  text-decoration: none;
  color: #3c4043;
  transition: all 0.2s ease-in-out;
}
.navlinks a:hover {
  color: #1967d2;
}
.logo {
  padding-right: 10px;
}
.navlinks ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 20px;
}
.secondary ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  padding-right: 60px;
}

.profile-pic {
  border-radius: 50%;
}

.material-icons {
  color: #3c4043;
}
.secondary ul .material-icons:hover {
  color: #737679;
}

li {
  list-style-type: none;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #e9e3db;
  width: 92%;
}

.image-sec {
  display: flex;
  justify-content: center;
}

.banner h1 {
  font-size: 3rem;
  margin: 0;
}

.small-desc {
  font-family: "ProductThin";
  font-size: 1.05rem;
  width: 70%;
}
.material-button {
  padding: 8px 25px;
  font-family: "ProductMedium";
  font-size: 1rem;
  border-radius: 5px;
  border: 2px solid #3c4043;
  background: transparent;
  transition: all 0.1s ease-in-out;
}

.material-button:hover {
  background-color: #3c4043;
  color: #fff;
}

.button-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}
.watch {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 5px;
  padding: 10px 15px;
  color: #3c4043;
  transition: all 0.2s ease-in-out;
}

.watch:hover {
  background-color: #fff;

  border-radius: 5px;
}

.watch h4 {
  margin: 0;
  text-decoration: none;
}

.button-group a {
  text-decoration: none;
}

.popular {
  padding: 8rem;
  display: flex;
  flex-direction: column;
}

.popular h2 {
  font-size: 2.5rem;
}

.safearea {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.2rem;
  gap: 30px;
}

.left,
.right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circlebutton {
  background-color: #fff;
  box-shadow: 0px 2px 5px #dadada;
  border-radius: 50%;
  padding: 20px 22px;
  transition: opacity 0.15s cubic-bezier(0.1, 0.1, 0, 1) 0s,
    background 0.2s cubic-bezier(0.1, 0.1, 0, 1) 0s,
    transform 0.15s cubic-bezier(0.1, 0.1, 0, 1) 0s;
}

.circlebutton:hover {
  cursor: pointer;
  background-color: rgba(60, 64, 67, 0.08);
}

.scroll-box {
  display: flex;
  align-items: flex-start;
  overflow-x: scroll;
  max-width: 1100px;
  min-height: 500px;
}

.scroll-box::-webkit-scrollbar {
  height: 5px;
  width: 0px;
  cursor: pointer;
}

.scroll-box::-webkit-scrollbar-track {
  background: #f7f7f7;
  border-radius: 5px;
  cursor: pointer;
}
.scroll-box::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #3c4043;
}

.card {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 0px 10px;
}

.card-img {
  background-color: #f8f9fa;
  border-radius: 20px;
  padding: 15px 10px;
  max-height: 250px;
  transition: all 0.3s ease-in-out;
}

.new {
  background: #e8f0fe;
  color: #1967d2;
  width: fit-content;
  padding: 4px 10px;
  border-radius: 30px;
  transition: all 0.4s ease-in-out;

  font-size: 0.8rem;
}
.pb-5 {
  padding-bottom: 35px;
}
.card-img:hover .new {
  border: 1px solid #1967d2;
}

.card img {
  transition: all 0.3s ease-in-out;
  margin-top: -20px;
}

.card:hover img {
  transform: scale(1.08);
}

.card-img:hover {
  background-color: #eeeeee;
}
.showcase {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.thirds {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  gap: 25px;
}
.product-card {
  background-color: #e9e3db;
  padding: 20px 10px;
  border-radius: 30px;
}
.prod-desc {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.prod-desc h2 {
  text-align: center;
  font-size: 2.5rem;
  margin: 0;
  font-family: "ProductBold";
  padding: 20px 0px;
}
.prod-desc p {
  margin: 0;
  margin-top: 20px;
}
.prod-img {
  position: relative;
}

.prod-img img {
  margin-bottom: -22px;
}
.duo {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 20px;
  margin-top: 40px;
}
.pass {
  width: 40vw;
  border-radius: 30px;
  padding: 28px 25px;
  background-color: #d6e2db;
}
.switch {
  width: 40vw;
  padding: 30px 25px;
  border-radius: 30px;
  background-color: #efddcd;
}

.duo-img {
  padding-top: 30px;
  margin-bottom: -22px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.duo-desc {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 20px;
}
.duo-desc h2 {
  text-align: center;
  font-size: 2.5rem;
  margin: 0;
  font-family: "ProductBold";
  padding: 20px 0px;
}
.duo-desc p {
  margin: 0;
  margin-top: 20px;
}

.sustain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 10rem 2rem;
}

.sus-img {
  width: 40vw;
}
.sus-desc {
  width: 40vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 10rem;
  align-items: flex-start;
}

.sus-desc h2 {
  margin: 0;
  font-size: 2.5rem;
  font-family: "ProductBold";
}

.sus-desc p {
  margin: 0;
  padding: 2rem 0;
  width: 65%;
}

.shop {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 10rem 2rem;
  gap: 20px;
}

.get-watch {
  width: 40vw;
  border-radius: 30px;
  padding: 20px 25px;
  background-color: #f3f2f1;
}

.earbuds {
  width: 40vw;
  border-radius: 30px;
  padding: 40px 25px;
  background-color: #e7ebee;
}

.shop p {
  font-size: 1.2rem;
}

.new-store {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12rem;
}
.store-img img {
  border-radius: 30px;
}
.store-details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.store-details h2 {
  margin: 0;
  padding: 20px 0;
  font-size: 2.5rem;
  text-align: center;
  font-family: "ProductBold";
}
.hide {
  display: none;
}

.hamburger span {
  width: 30px;
  height: 5px;
  border-radius: 10px;
  color: #3c4043;
}
@media only screen and (max-width: 960px) {
  .navlinks {
    padding-left: 40px;
  }
  .banner {
    flex-direction: column-reverse !important;
    width: 100%;
    padding: 10px 20px;
  }
  .image-sec img {
    width: 100%;
    height: auto;
  }
  .desc {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .desc h1 {
    text-align: center;
    font-size: 1.5rem;
    width: 80%;
  }
  .small-desc {
    width: 90%;
    text-align: center;
  }
  .button-group {
    flex-direction: column;
  }
  .navlinks ul {
    display: none;
  }
  .secondary ul {
    padding-right: 15px;
  }
  .popular {
    padding: 0;
    padding-top: 4rem;
  }
  .popular h2 {
    font-size: 1.5rem;
    width: 90%;
    text-align: center;
  }
  .left {
    display: none;
  }
  .right {
    display: none;
  }
  .scroll-box {
    max-width: 100vw;
  }
  .thirds {
    flex-direction: column !important;
  }
  .showcase {
    margin-top: 5rem;
  }
  .product-card {
    width: 90%;
    padding: 1.5rem 0;
  }
  .prod-img img {
    width: 100%;
    position: relative;
    bottom: 0 !important;
  }
  .duo {
    flex-direction: column;
    gap: 3rem;
  }
  .pass {
    width: 90vw;
    padding: 0;
  }
  .switch {
    width: 90vw;
    padding: 0;
  }
  .duo-img img {
    width: 100%;
    border-radius: 30px;
  }
  .duo-desc h2 {
    font-size: 1.5rem;
    width: 70%;
  }
  .shop {
    flex-direction: column;
    gap: 3rem;
  }
  .get-watch {
    width: 100%;
    padding: 10px;
  }
  .earbuds {
    width: 100%;
    padding: 10px;
  }
  .new-store {
    flex-direction: column;
    gap: 2rem;
  }
  .store-img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .store-img img {
    width: 80%;
  }
  .store-details h2 {
    font-size: 1.5rem;
  }
  .sustain {
    padding: 0;
    margin-top: 5rem;
    flex-direction: column;
  }
  .sus-desc {
    padding: 0;
    padding-bottom: 5rem;
    width: 90%;
    align-items: center;
    justify-content: center;
  }
  .sus-desc h2 {
    text-align: center;
    font-size: 1.8rem;
  }
  .sus-desc p {
    text-align: center;
    width: 80%;
  }
  .sus-img {
    width: 100% !important;
  }
}
